.form {
  width: 600px;
}

.p-color {
  color: #1f1f1f;
}

button {
  transition: ease-in-out 200ms;
  cursor: pointer;

  &.btn-color {
    color: #1f1f1f;
    background: transparent;
    border: 1px solid #1f1f1f;
  }

  &:hover, &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
    transition: none;
  }
}

input {
  border: 1px solid black;
  transition: ease-in-out 200ms;

  &::placeholder {
    text-align: center;
    color: #b4b4b4;
  }

  &:focus {
    border: 2px solid black;
    transform: scale(1.02);
    outline: transparent;
  }
}