.form {
    width: 700px;
}

button {
    transition: ease-in-out 200ms;
    cursor: pointer;
}

button:hover, button:focus {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
    transition: none;
}


.btn-color {
    color: #1f1f1f;
    background: transparent;
    border: 1px solid #1f1f1f;
}

.p-color {
    color: #1f1f1f;
}